body {
    background: lightblue;
    letter-spacing: 0.2em;
    font-size: 0.8rem;
}

.container {
    max-width: 70vmin;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container form {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    width:80vmin;
    height:50vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:none;
}

.smol {
    font-size: 1.5rem;
}

.searchbar {
    margin-top: 1.5em;
    margin-bottom: 2em;
    width: 30vw;
}

.icon {
    position: absolute;
    z-index: 102;
    top: -33px;
    border-radius: 50%;
    width: 100px;
    margin-bottom: -100px;
}


.details {
    color:white;
    position: absolute; 
    z-index: 102;
    text-align: center;
}

.time {
    position: relative;
    object-fit: cover;
}

.totalshadow {
  background:rgb(0,0,0,0.5);
  height:100%;
  width:100%;
  position: absolute;
  z-index: 101;
}

.card img {
    width:100%;
    height:100%;
}

/* ============================= */
/* Media Queries =============== */
/* ============================= */

@media screen and (max-width:80em) {
    .searchbar {
        margin-top: 1.5em;
        margin-bottom: 2em;
        width: 50vw;
    }
    .icon {
        width: 90px;
    }

}

@media screen and (max-width:60em) {
    .searchbar {
        margin-top: 1.5em;
        margin-bottom: 2em;
        width: 50vw;
        height: 7vw;
    }
    .icon {
        width: 90px;
    }

  
}

@media screen and (max-width:48em) {
     .searchbar {
        margin-top: 1.5em;
        margin-bottom: 2em;
        width: 50vw;
        height: 7vw;
    }
    .icon {
        width: 70px;
    }
}

@media screen and (max-width:32.5em) {
    .icon {
        width: 60px;
    }
}

@media screen and (max-width:23.5em) {
     .icon {
        width: 40px;
        top: -20px;
    }
}

@media screen and (max-width:17.5em) {
     .icon {
        width: 30px;
        top: -20px;
    }
}